language: go
sudo: false
matrix:
  include:
    - go: 1.12.x
      env:
        - LATEST=true
        - IMPPATH=github.com/hedzr/ini-op
        - CMDR_CONF=github.com/hedzr/cmdr
        - GO111MODULE=on
  #  - go: 1.x
  #  - go: tip
  # allow_failures:
  #  - go: tip

before_install:
  # gox simplifies building for multiple architectures
  - go get github.com/mitchellh/gox

install:
  - # skip

script:
  - if [ ! -d bin ]; then mkdir bin; fi
  - go mod download # go get -t -v ./...
  - go get -u -v github.com/inconshreveable/mousetrap
  #- go get -u -v github.com/konsorten/go-windows-terminal-sequences
  - diff -u <(echo -n) <(gofmt -d .)
  #- go vet $(go list ./... | grep -v /vendor/)
  #- go test -v -race ./...
  # Only build binaries from the latest Go release.
  - if [ "${LATEST}" = "true" ]; then gox -os="linux darwin windows" -arch="amd64" -output="./bin/ini-op.{{.OS}}.{{.Arch}}" -ldflags="-s -w -X \"${CMDR_CONF}.Buildstamp=`date -u '+%Y-%m-%d_%I:%M:%S%p'`\" -X \"${CMDR_CONF}.Githash=`git rev-parse --short HEAD`\" " -verbose ./...; for f in bin/ini-op.*; do gzip $f; done; ls -la bin/; fi
  # -X \"${CMDR_CONF}.GoVersion=`go version`\"
  - true

#before_deploy:
#  # Set up git user name and tag this commit
#  - git config --local user.name "Hedzr Yeh"
#  - git config --local user.email "hedzr#at#gmail"
#  - export TRAVIS_TAG=${TRAVIS_TAG:-$(date +'%Y%m%d%H%M%S')-$(git log --format=%h -1)}
#  - git tag $TRAVIS_TAG

deploy:
  provider: releases
  skip_cleanup: true
  api_key:
    # Your *encrypted* GitHub key, as the output of the Travis CI CLI tool. such as:
    #   gem install travis; travis setup releases;
    # and:
    #   travis encrypt AMAP_KEY="xxxx" --add
    secure: KU1WLzi4IRjgiPJ+mwtJOaHb/ZwZFvPzPkOnKDErn3nLf3HJjnjsSWaHmyq3XCqpveJcVPI8DMSObD508TyCk1AJtQ6fxmUqSawRIVy44ORhKKwo7Rdj7PJkvC4yTKPGf1bggqPKugAV8hJQaRaAZgPDBFigBk7jZC0sv/yjTn4txcWg42hLeHF+mEvpi0Jd2Kf/oQ53BubZcOTVnx6zs1bF2p1fHm5DwC+mXCeErVkYxOITdily30q3woX0PVE7lrfHXgWNpkQq4oVwUNN2JNfvOzgwa7tY5bgk2pUCd87vanOt4whrausZF4JzpEk+dq5EEAD5Ddbtm7Ks5V3pN3WYA1fub6DOSNi5AdZDQhcepY9x+eU6EMCFvv72QmEQYiEqG53mWZW0dwAh49a3SZzR6bAbYmpOMOdQ9Vu36R/CGWy0pQT1hjiQQoqaQPSmV46K/0uPAknTSnZTf5isSxHVfJH9FGxkQw6wBWAsa2A5WrV8l+nMD8tDKlQ8a0Ga6dl6Kswb1KsyxPBU9Zb4QIjrexalEkAqOXOEF1wry+LMF79gZCau9AzLHBkQ6VPPsQUpYZWfXK3VM4M81/beH9uoZ4mM5CCzOQpfFSYXz2gDgHWvhowuFMWPQVTZlO6/ZdFa1xCVMTYf3f/tYSdxtyTgjlZ4NygRgL7UTVa3cB0=
  file:
    # The names of the binaries to output, based on the -output template passed to gox.
    - bin/ini-op.windows.amd64.exe
    - bin/ini-op.darwin.amd64.gz
    - bin/ini-op.linux.amd64.gz
  on:
    # What to repository to build
    repo: hedzr/ini-op
    # Only build binaries for tagged commits
    tags: true
    condition: $LATEST = true

notifications:
  email:
    #recipients:
    #  - hedzr#at#gmail
    on_success: change
    on_failure: always
